<%- include('header'); %>
<h3>Back Testing Data</h3>
<div class="row text-center">
    <div class="col-sm-2">Futures</div>
    <div class="col-sm-2">Spot</div>
    <div class="col-sm-1">
        Trades
        <div class="row">
            <div class="col">F</div>
            <div class="col">S</div>
        </div>
    </div>
    <div class="col-sm-1">
        Work Book
        <div class="row">
            <div class="col">F</div>
            <div class="col">S</div>
        </div>
    </div>
    <div class="col-sm-1">
        Open Int
        <div class="row">
            <div class="col">F</div>
            <div class="col">S</div>
        </div>
    </div>
    <div class="col-sm-1">
        Candles
        <div class="row">
            <div class="col">F</div>
            <div class="col">S</div>
        </div>
    </div>
</div>
<%- include('footer'); %>