<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B53</title>
    <link href="/static/bootstrap-night.min.css" rel="stylesheet">
    <script src="/static/tv.js" lang="javascript"></script>
<style>
  body { 
      margin-left:10px;
    }
  .row div{
      background-color: rgb(46, 46, 46);
      border:1px solid rgb(102, 102, 102);
  }
  html {
        font-size: 0.9rem;
    }
</style>
</head>
<body class="bootstrap container">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/report">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/back">Backtests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/data">Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/service">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
        </ul>
    </nav>
</header>
<main>