<%- include('header'); %>
<h3>Services</h3>
<h5>Service health</h5>
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-sm-10">Data upload</div>
            <div class="col-sm-1"><button>⟳</button></div>
        </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-6" >
        <div class="row" style="background:black">
            <h6>Console log:</h6>
        </div>
        <div class="row" style="background:black">
            <table>
                <thead>
                    <th>Time</th><th>Message</th>
                </thead>
                <tbody>
                    <tr><td>2011-11-01 13:53:44.345</td><td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td></tr>
                    <tr><td>2011-11-01 13:53:44.345</td><td>et, consectetur, adipisci velit, sed q</td></tr>
                    <tr><td>2011-11-01 13:53:44.345</td><td>s that are extremely painful. Nor again is there anyone </td></tr>
                    <tr><td>2011-11-01 13:53:44.345</td><td>t harum quidem rerum facilis est et expedita d</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('footer'); %>