<%- include('header'); %>
<h3>SYSTEM</h3>
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-3 px-1"><button class="btn btn-info btn-sm col-12" id="B53_renew_symbols_fut">Renew list of Binance Futures</button></div>
            <div class="col-3 px-1"><button class="btn btn-info btn-sm col-12" id="B53_renew_symbols_spot">Renew list of Binance Spot</button></div>
        </div>
    </div>
    <div class="col-6">
    </div>
</div>
<script>
    $("#B53_renew_symbols_fut").on("mouseup",(e)=>{
            fetch("/pushservice?srvname=exchangeInfoFut")
            .catch((er) => {
                console.warn(er);
            });
        });
    $("#B53_renew_symbols_spot").on("mouseup",(e)=>{
            fetch("/pushservice?srvname=exchangeInfoSpot")
            .catch((er) => {
                console.warn(er);
            });
        });
</script>
<%- include('footer'); %>